.heroHeader{
    position: relative;
    display: block;
    height: auto;
    margin: 0px 0px 12px -5px;
    padding: 0px;
    top: 12px;
    >* {
        position: relative;
        display: block;
        padding: 0px;
        line-height: 1em;
        color: #fd1d86;
        font-family: "BenguiatCaslonRegular";
    }
    .adj1{
        margin: {
            top: 0px;
            left: 90px;
        }
        font-size: 48px;
    }
    .adj2{
        margin: {
            top: -41px;
            left: 0px;
        }
        font-size: 96px;
    }
    .adj3{
        margin: {
            top: -33px;
            left: 59px;
        }
        font-size: 96px;
    }
    .kernA{
        letter-spacing: -0.04em;
    }
}
@media only screen and (min-width:576px){
.heroHeader{
    top: 16%;
    }
}
