.pageHeader{
    font-size: 63px;
    line-height: 0.7em;
    font-family: "BenguiatCaslonRegular";
}
.article{
    color: #7c7670;
    &:after{
    content: '';
    position: relative;
    display: block;
    background-color: #7c7670;
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    }
    .articlePeriodical{
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #7c7670; 
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .articleDate{
        color: #7c7670; 
        font-size: 12px;
        line-height: 1em;
        letter-spacing: 0.05em;
        margin-top: 0px;
        text-transform: uppercase;
    }
    .articleTitle{
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #47453f;
        padding-bottom: 12px;
        font-size: 24px;
        line-height: 1.2em;
        letter-spacing: 0.01em;
    }
}
.articleLast{
    &:after{
    height: 0px;
    }
}
@media only screen and (min-width: 576px){
.pageHeader{
    font-size: 84px;
}
}