.heroHeader{
    position: relative;
    margin: 0px auto;
    height: auto;
    width: max-content;
    margin-left: -4px;
    padding: 0px;
    color: #fd1d86;
    }
.heroHeader h1>*{
    position: relative;
    display: block;
    padding: 0px;
    line-height: 1em;
    }
.heroHeader h1 .adj1{
    margin-top: 0px;
    margin-left: 121px;
    font-size: 42px;
    }
.heroHeader h1 .adj2{
    margin-top: -21px;
    font-size: 60px;
    }
.heroHeader h1 .adj3{
    margin-top: -16px;
    margin-left: 43px;
    font-size: 60px;
    }
.kernA{
    letter-spacing: -0.08em;
    }
.kernAtight{
    letter-spacing: -0.13em;
    }

@media only screen and (min-width:1200px){
.heroHeader{
    margin-left: auto;
    }
.heroHeader h1 .adj1{
    margin-top: 0px;
    font-size: 48px;
    margin-left: 194px;
    }
.heroHeader h1 .adj2{
    margin-top: -30px;
    margin-left: 0px;
    font-size: 96px;
    }
.heroHeader h1 .adj3{
    margin-top: -26px;
    margin-left: 69px;
    font-size: 96px; 
    }
}