.heroHeader{
    position: relative;
    height: auto;
    width: max-content;
    padding: 0px;
    margin: 0px 0px 0px -5px;
    color: #fd1d86;
    top: 12px;
    }
.heroHeader h1>*{
    position: relative;
    display: block;
    padding: 0px;
    line-height: 1em;
    }
.heroHeader h1 .adj1{
    margin-top: 0px;
    font-size: 42px;
    margin-left: 49px;
    }
.heroHeader h1 .adj2{
    margin-top: -37px;
    margin-left: 0px;
    font-size: 84px;
    }
.heroHeader h1 .adj3{
    margin-top: -41px;
    margin-left: 60px;
    font-size: 144px;
    }
.specsBlock{
    position: relative;
    text-align:left;
    }
.specsBlock .catagoryType{
    text-transform: uppercase;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    margin: 2px 0px 3px 0px;
    }
.specsBlock .catagoryName{
    clear: both;
    margin: -3px 0px 24.5px 0px;
    font-size: 21px;
    font-weight: 600;
    color: #fd1d86;
    }
@media only screen and (min-width:576px){
.heroHeader{
    top: 48%;
    transform: translateY(-50%);
    }
.heroHeader h1 .adj1{
    margin-top: 0px;
    font-size: 48px;
    margin-left: 58px;
    }
.heroHeader h1 .adj2{
    margin-top: -41px;
    margin-left: 0px;
    font-size: 96px;
    }
.heroHeader h1 .adj3{
    margin-top: -50px;
    margin-left: 62px;
    font-size: 192px;
    }
.specsBlock{
    text-align: right;
    }
}
@media only screen and(min-width:768px){

}