header{
    position: fixed;
    display: block;
    top: 0px;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1000;
    }
    
    
    
    
h1.dark-background{
    color: rgb(246, 245, 242);
    line-height: 1.02em;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 60px rgba(0, 0, 0, 1);
}
.landing-page-top{
    position: relative;
    top: 0px;
    margin-top: 0px;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    }
.landing-page-top-inner{
    position: relative;
    width: 100%;
    margin:0px auto !important;
    padding-top: 89px;
    }
.landing-page-top-text-block{
    max-width: 220px;
    }
.landing-background{
    background-image: url(../../images/mark-belford-home-1-xs.webp);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-marker{
    position: absolute;
    height: 30px;
    width: 50%;
    bottom: 40px;
}

@media only screen and (min-width:768px){
    .landing-page-top-inner{
        padding: 144px 0px;
        }
    .landing-page-top-text-block{
        max-width: 610px;
        }
    }
    @media only screen and (min-width:992px){
      .landing-page-top-inner{
        max-width: 843px;
        padding: 144px 0px;
        }
        h1.dark-background{
            color: #a09b95;
        }
    }
    @media only screen and (min-width:1200px){
    .landing-page-top-inner{
        max-width: 987px;
        } 
.landing-background{
    background-image: url(../../images/mark-belford-home-1.webp);
    background-position: center center;
} 
    }
    @media only screen and (min-width:1400px){
      .landing-page-top-inner{
          max-width: 1220px;
          }    
      }
    @media only screen and (min-width:1550px){
    .landing-page-top-inner{
        max-width: 1364px;
        
        }
    }
    @media only screen and (min-width:1800px){
    .landing-page-top-inner{
        max-width: 1597px;
        }
    }