@font-face {
    font-family: 'BenguiatCaslonSpec';
    src: url('../../Webfonts/BenguiatCaslonRegular/font.woff2') format('woff2'),
    url('../../Webfonts/BenguiatCaslonRegular/font.woff') format('woff');
    
}
.BenguiatCaslonSpec{
font-family: 'BenguiatCaslonSpec';
unicode-range: U+0049;
}
.markContent{
padding-top: 199px !important;
}
.heroHeader{
position: relative;
height: auto;
width: max-content;
padding: 0px;
color: #fd1d86;
}
.heroHeader h1 .adj1{
    margin-top: -6px;
    font-size: 96px;
    line-height: 84px;
    margin-left: 0px;
    }
    .heroHeader h1 .adj2{
    margin-top: -21px;
    margin-left: 0px;
    font-size: 96px;
    line-height: 84px;
    }
.footerImageTextBlock{
position: absolute;
display: block;
padding: 21px 18px 0px 18px;
left: 0px;
z-index: 2;
}
.footerBannerText{
font-size: 18px;
line-height: 1.2em;
padding-bottom: 12px;
}
@media only screen and (min-width:768px){
.footerImageTextBlock{
position: relative;
padding: 48px 9px 0px 9px;
}
}
@media only screen and (min-width:1200px){
.markContent{
padding-top: 240px !important;
}
.heroHeader{
margin-left: 0px;
}
}
@media only screen and (min-width:1400px){
.footerImageTextBlock{
position: relative;
display: block;
padding-top: 72px;
} 
}
@media only screen and (min-width:1600px){

.footerImageTextBlock{
padding-top: 96px;
}
}