/*
.header{
    position: fixed;
    display: block;
    top: 0px;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    z-index: 1000;
    padding-bottom: 0px;
    background-color: rgb(246, 245, 242);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
*/ 
.main-image{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-width: 1598px;
    margin: 0px auto;
    padding-bottom: 30px;
  }

img{
    vertical-align: initial !important;
}
.swedish-prince-header{
    position: absolute;
    display: inline-block;
    margin-top: 55px;
    margin-left: -93px;
    height: auto;
    width: 525px;
    z-index: 2;
}
.swedish-prince-header h1 .adj-1{
    position: relative;
    display: inline-block;
    top: -12px;
    font-size: 42px;
    color: #131312;
}
.swedish-prince-header h1 .adj-2{
    position: relative;
    display: inline-block;
    top: 0px;
    margin-left: 4px;
    color: #131312;
}
.swedish-prince-header h1 .adj-3{
    position: relative;
    display: inline-block;
    top: -18px;
    margin-left: 23px;
    color: #131312;
}
.swedish-prince-text-block-1{
    position: absolute;
    display: inline-block;
    margin-top: 174px;
    margin-left: 11px;
    height: auto;
    width: 660px;
    z-index: 12;
}
.swedish-prince-text-block-2{
    position: relative;
    display: inline-block;
    margin-top: 11px;
    margin-left: 125px;
    height: auto;
    width: 660px;
    z-index: 12;
    }
.swedish-prince-text-block-2::before{
    content: "";
    position: absolute;
    display: block;
    height: 96.5%;
    width: 11px;
    background-color: rgb(223, 0, 0);
    top: 2px;
    left: -21px;
    }
.swedish-prince-text-block-2 p{
    font-size: 13px;
    line-height: 1.2em;
    }
.swedish-prince-1{
    position: relative;
    display: inline-block;
    margin-top: 405px;
    margin-left: 71px;
    height: auto;
    width: 177px;
    z-index: 2;
    }
.swedish-prince-2{
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-left: 11px;
    height: auto;
    width: 525px;
    z-index: 2;
}
.swedish-prince-3{
    position: relative;
    display: inline-block;
    top: -132px;
    margin-left: 11px;
    height: auto;
    width: 279px;
    z-index: 2;
}
.swedish-prince-4{
   position: relative;
    display: inline-block;
    top: -132px;
    margin-left: 11px;
    height: auto;
    width: 102px;
    z-index: 2;
}
.swedish-prince-5{
    position: relative;
    display: inline-block;
    top: -60px;
    margin-left: 11px;
    height: auto;
    width: 148px;
    z-index: 2;
 }
 .swedish-prince-6{
    position: relative;
    display: inline-block;
    top: 117px;
    margin-left: -550px;
    height: auto;
    width: 202px;
    z-index: 2;
 }
 .swedish-prince-7{
    position: relative;
    display: inline-block;
    top: 182.5px;
    margin-left: 11px;
    height: auto;
    width: 178px;
    z-index: 2;
 }



.image-placeholder{
    position: absolute;
    display: block;
    top: 0px;
    left: 80px;
    height: auto;
    width: 1340px;
    z-index: -1;
    opacity: 0;
}

@media only screen and (min-width:1200px){
 
}
@media only screen and (min-width:1400px){
.swedish-prince-header{
    margin-top: 34px;
    }
.swedish-prince-text-block-1 {
    margin-top: 147px;
    width: 552px;
    }
.swedish-prince-text-block-2 {
    margin-left: 115px;
    width: 560px;
    }
.swedish-prince-1 {
    margin-top: auto;
    margin-left: 47px;
    width: 171px;
    }
.swedish-prince-2 {
    width: 448px;
    }
.swedish-prince-3 {
    top: -85px;
    width: 229px;
    z-index: 22;
    }
.swedish-prince-4 {
    top: -85px;
    width: 91px;
    }
.swedish-prince-5 {
    top: 15px;
    width: 148px;
    }
.swedish-prince-6 {
    top: 136px;
    margin-left: -490px;
    width: 178px;
    }
.swedish-prince-7 {
    top: 170px;
    width: 143px
    }
}
@media only screen and (min-width:1550px){
.swedish-prince-header{
    margin-top: 34px;
    }
.swedish-prince-text-block-1 {
    margin-top: 147px;
    width: 552px;
    }
.swedish-prince-text-block-2 {
    margin-left: 115px;
    width: 560px;
    }
.swedish-prince-1 {
    margin-top: auto;
    margin-left: 47px;
    width: 171px;
    }
.swedish-prince-2 {
    width: 448px;
    }
.swedish-prince-3 {
    top: -85px;
    width: 229px;
    z-index: 22;
    }
.swedish-prince-4 {
    top: -85px;
    width: 91px;
    }
.swedish-prince-5 {
    top: 15px;
    width: 148px;
    }
.swedish-prince-6 {
    top: 136px;
    margin-left: -490px;
    width: 178px;
    }
.swedish-prince-7 {
    top: 170px;
    width: 143px
    }
}
@media only screen and (min-width:1800px){
.swedish-prince-header{
    margin-top: 72px;
    }
.swedish-prince-text-block-1{
    margin-top: 186px;
    margin-left: 11px;
    width: 660px;
    }
.swedish-prince-text-block-2{
    margin-top: 11px;
    margin-left: 125px;
    width: 660px;
    }
.swedish-prince-text-block-2::before{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 11px;
    background-color: rgb(223, 0, 0);
    top: 0px;
    left: -21px;
    }
.swedish-prince-text-block-2 p{
    font-size: 13px;
    line-height: 1.2em;
    }
.swedish-prince-1{
    margin-top: 405px;
    margin-left: 55px;
    width: 191px;
    }
.swedish-prince-2{
    margin-top: 0px;
    margin-left: 11px;
    width: 525px;
    }
.swedish-prince-3{
    top: -132px;
    margin-left: 11px;
    width: 279px;
    }
    .swedish-prince-4{
    top: -132px;
    margin-left: 11px;
    width: 102px;
    }
    .swedish-prince-5{
    top: -60px;
    margin-left: 11px;
    width: 148px;
    }
    .swedish-prince-6{
    top: 117px;
    margin-left: -550px;
    width: 202px;
    }
    .swedish-prince-7{
    top: 182.5px;
    margin-left: 11px;
    width: 178px;
    }
}